@font-face {
    font-family: 'digital-7regular';
    src: url('digital-7regular-webfont.woff2') format('woff2'),
    url('digital-7regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* calculator body */

#calc {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 636px;
    width: 412px;
    background-color: rgb(31, 31, 31);
    border-radius: 15px 15px 30px 30px;
    border-color: black;
    display: flex;
    flex-direction: column;
}

/* positioning */

#brand {
    color: white;
    margin-top: 56px;
    margin-left: 56px;
    font-size: 20px;
}

h3{
    margin: 0;
}
#screenBorder1 {
    margin-top: 28px;
    margin-left: 44px;
    width: 320px;
    height: 112px;
    border: 1px solid black;
    background-color: rgb(78, 74, 79);
    border-radius: 2px;
}

#screenBorder2 {
    background-color: rgb(162, 163, 157);
    width: 296px;
    height: 72px;
    display:flex;
    margin: 12px;
    border-radius: 4px;
}

#screen {
    background-color: rgb(200, 202, 189);
    width: 248px;
    height: 48px;
    margin: 12px 24px;
    border-radius: 8px;
    font-size: 50px;
    text-align: right;
    padding-right: 12px;
    padding-top: 5px;
    font-family: 'digital-7regular', Arial, sans-serif;
}

#calcButtons {
    grid-gap: 21px;
    display: grid;
    grid-template-columns: repeat(5, 48px);
    grid-template-rows: repeat(5, 48px);
    margin: 52px 44px 56px 44px;
    padding: 0;

}

/* button styles */

button {
    color: white;
    transition-duration: 0.2s;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    padding: 0;
}

.equals {
    color: black;
    background-color: rgb(185, 129, 65);
}

.number {
    background-color: black;
}

.func {
    background-color: rgb(75, 52, 42);
}

.memory {
    background-color: rgb(45, 57, 51);
}

.number:hover {
    filter: brightness(0.5);
}

button:hover {
    filter: brightness(1.75);
}

#smallFont{
    font-size: 16px;
}